# Virtual Environment
venv

# PyCham IDE
.idea

# local settings
local_settings.json

# Chrome extension - Rest Web Service Client to develop and test RESTful web service APIs
# https://chrome.google.com/webstore/detail/rest-web-service-client/ecjfcmddigpdlehfhdnnnhfgihkmejin
# Sample Requests
FavoriteRequests.json
