[Unit]
Description=DoorPi
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/opt/doorpi
ExecStart=/opt/doorpi/venv/bin/python main.py
ExecReload=/bin/kill -SIGUSR1 $MAINPID

[Install]
WantedBy=multi-user.target
