<!DOCTYPE html>
<html>
 <head profile="http://www.w3.org/2005/10/profile">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="https://iot.rindus.de/favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <title>{{ app.get('door.name') }}</title>
 </head>
 <body class="container-fluid"{%
       try %}{%
         if app.get('sentry.dsn') %} onload="Sentry.init({ dsn: '{{ app.get('sentry.dsn') }}' });"{%
         end %}{%
       except %}{%
       end %}>
  <div class="row bg-light">
   <div class="span6" style="float: none; margin: 0 auto;">
    <h1 class="title">{{ app.get('door.name') }}</h1>
   </div>
  </div>
  <div class="row bg-light">
   <div class="span6 small" id="message" style="float: none; margin: 0 auto;">
{% if opened %}
    <div id="alert" class="alert alert-success" role="alert">😎 You did it! The door is opens. Thanks!</div>
{% else %}
    <div id="alert" class="alert alert-warning" role="alert">😞 Sorry, open-link had expired, but thanks anyway!</div>
{% end %}
   </div>
  </div>
{% try %}
 {% if app.get('sentry.dsn') %}
  <script src="https://browser.sentry-cdn.com/4.5.3/bundle.min.js" crossorigin="anonymous"></script>
 {% end %}
{% except %}
{% end %}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
 </body>
</html>